openapi: 3.0.0
info:
  title: Scan Streaming API
  version: 0.0.1
servers:
  - url: https://scan.sv-1.global.canton.network.sync.global/api/scan
tags:
  - name: external
    description: |
      These endpoints are intended for public usage and will remain backward-compatible.
  - name: internal
    description: |
      For internal usage only, not guaranteed to be stable or backward-compatible.
  - name: deprecated
    description: |
      These endpoints are deprecated and will be removed in a future release.
  - name: scan
    description: |
      The internal and external endpoints.
  - name: pre-alpha
    description: |
      Still under active development, highly unstable. Do not use in production.
paths:
  /v0/history/bulk/download/{object_key}:
    get:
      summary: "GET /v0/history/bulk/download/:object_key"
      tags:
        - pre-alpha
        - scan
      x-jvm-package: scanStream
      operationId: bulkStorageDownload
      description: Download a bulk storage object
      parameters:
        - name: object_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-scala-type: org.apache.pekko.http.scaladsl.model.ResponseEntity
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
  responses:
    '404':
      description: not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
